
// Defined variables
:root {

    // Basic Colors
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-1: #111111;
    --color-dark-1: #2A2A2A;

    // Brand Colors
    --color-primary: #ED7D31;
    --color-secondary: #F6F1EE;
    --color-tertiary: #6C5F5B;
    --color-tertiary-dark: #1b1a18;


    // Other
    --required-red: #FF3131;
}